body{
    margin: 0%;
}


header{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgba(62, 174, 226, 1);
    background-size: 300px;
}

.logo{
    width: 200px;
    margin-top: 50px;
    
}


h1{
    font-size: 60px;
    margin: 0%;
}

    
.booleaner{
    color: turquoise;
    font-size: 19px;
}

figure{
    margin-left: 0%;
    
}

.evidenziato{
    background-color: gold;
}

.thead{
    background-color:rgba(62, 174, 226, 1);
    height: 20px;
    color: white;
}

.t1{
    background-color: rgba(100, 190, 200, 0.5);
    height: 50px;
}

.t2{
    
    height: 50px;
}

.t3{
    background-color: rgba(100, 190, 200, 0.5);
    height: 50px;
}

h3{
    color: rgba(100, 100, 100, 1);
    margin:1%
}

div{
    position:relative;  
    margin:1%;
}

.bold1{
    color:white;
    position: absolute;
    left: 40px;
    font-size: 25px;
}

.bold2{
    color:white;
    position: absolute;
    left: 40px;
    font-size: 25px;
}


    