body{
    margin: 0%;
}


header{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgba(62, 174, 226, 1);
    background-size: 300px;
}

h2{
    font-family: 'Mohave', sans-serif;;
    color: white;
}


h1{
    font-size: 40px;
    margin: 0%;
}

    
span{
    color: turquoise;
    font-size: 19px;
}

figure{
    margin-left: 0%;
    
}